.signup_container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.form_side{
    width: 50%;
    height: 100%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.form{
    
    text-align: center;
    border: solid white 1px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    padding: 30px;
}

.input{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    background: rgb(192, 183, 200);
    padding: 3px;
}

.btn{
    width: 200px;
    height: 50px;
    background: rgb(192, 183, 200);
    border: 1px solid green;
}
.btn:hover{
    background: teal;
    cursor: pointer;
}

.heading_side{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: teal;
    color: aliceblue;
}


